<article class="post row">
  <header>
    <div class="title col-md-10">
      <h1><%= post.title %></h1>
    </div>
    <% unless post.cms %>
      <div class="category col-md-10">
        From my thoughts on <%= post.category.try(:name) %> - <%= post.published? ? post.published_at.strftime("%B %e, %Y") : Time.now.strftime("%B %e, %Y") %>
      <%- unless singlepost %>
        - <%= link_to "0 Comments", main_app.post_path(post.permalink) + "#disqus_thread" %>
      <%- end %>
      </div>
    <% end %>
  </header>
  <div class="body col-md-11 col-md-offset-1">
    <%= post.html_body %>
  </div>
</article>

<% if !post.cms %>
  <div class="row">
    <div class="more col-md-11 col-md-offset-1">
      <h1>More stuff to read</h1>
      <ul><%= render partial: 'miniblog/posts/post_list', collection: @posts %>
    </div>
  </div>
<% end %>

<%- if post.published? && !post.cms %>
<div class="row">
  <div class="comments col-md-11 col-md-offset-1"/>
  <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'david-padilla';

      (function() {
       var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
       dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
       (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
       })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </div>
</div>
<% end %>
