<!DOCTYPE html>
<html>
<head>
  <title>David Padilla: Engineer, Manager, Rubyist, Speaker</title>
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: 'analytics' %>
<script type="text/javascript">
    var disqus_shortname = 'david-padilla';

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</head>
<body>
<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div id="navigation">
      <%= link_to "Home", crowdblog.root_path %>
      |
      <%= link_to "Archive", "#" %>
      |
      <%= link_to "About", main_app.about_me_path %>
    </div>
    <div class="jumbotron">
      <h1 id="david-padilla">David Padilla</h1>
      <p class="lead">Engineer, Manager, Rubyist, Speaker</p>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-1">
    <%= yield %>
  </div>

  <footer class="col-md-12">
    David Padilla, 2015
  </footer>
</div>

</body>
</html>
