<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <%- if @post %>
      <%= @post.title %>
    <%- else %>
      David Padilla: Engineer, Manager, Rubyist, Speaker
    <%- end %>
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/default.min.css">
  <link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/dabpadilla.rss" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render partial: 'analytics' %>
  <%= javascript_tag do %>
  <% if @push_state %>
    if (history && history.pushState) {
      var stateObj = { module: 'blog' }
      history.pushState(stateObj, "<%= @post.title %>", "<%= @push_state %>");
    }
  <% end %>

  <% if @post %>
    var disqus_identifier = '<%= @post.to_param %>'
  <% end %>
    var disqus_shortname = 'david-padilla';

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());

    $(document).ready(function() {
      $('pre code').each(function(i, block) {
        hljs.highlightBlock(block);
      });
    });
  <% end %>
</head>
<body data-no-turbolink>
<div class="container">
  <div class="row">
    <div class="col-xs-9 col-sm-10 col-sm-offset-2">
      <h1 class="visible-xs">David Padilla</h1>
      <div id="navigation">
        <%= link_to "Home", miniblog.root_path %>
        |
        <%= link_to "Archive", main_app.archive_path %>
        |
        <%= link_to "About", main_app.about_me_path %>
      </div>
    </div>
    <div class="col-xs-3 avatar visible-xs">
      <%= image_tag "avatar.jpg", width: 60 %>
    </div>
  </div>
  <div class="row header hidden-xs">
    <div class="col-md-11 col-md-offset-1">
    <h1 id="david-padilla">David Padilla</h1>
    <p class="lead">Engineer, Manager, Rubyist, Speaker</p>
    </div>
  </div>

  <div class="row main">
    <div class="col-md-10 col-md-offset-1">
      <%= yield %>
    </div>
  </div>

  <footer class="col-md-12">
    David Padilla, 2015
    <br>
    <a href="http://twitter.com/dabit">Twitter</a> |
    <a href="http://www.github.com/dabit">Github</a> |
    <a href="http://www.linkedin.com/in/dpadilla">LinkedIn</a>
  </footer>
</div>

</body>
</html>
